@import url(./SampleList.css);
.createListWrapperExtend{
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}
.createListWrapperExtend.hide{
    display: none;
}
.createListWrapperExtend.show{
    display: block;
}
.createListWrapper{
    border: 2px solid rgb(4, 0, 255) ;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    padding: 40px 20px;
}
.createListCloseIcon{
    position: relative;
    right: 0;
    top: 0;
   
}
.createListInnerWrapper{
    /* border: 2px solid red ; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.addList{
    min-width: 110px;
    font-size: 20px;
    background: linear-gradient(to right, rgba(19, 178, 206, 0.616), rgba(1, 169, 199, 0.137));
    color: rgb(252, 238, 238);
    border: none;
    white-space: nowrap;
    
}
.addList:disabled{
    background: gray;
}
#listI{
    width: 100%;
    font-size: 20px;
    border: none;
    outline: none;
}

#uploadimg{
    display: none;
}

.labelInputListImg{
    background: linear-gradient(to right, rgba(19, 178, 206, 0.616), rgba(1, 169, 199, 0.137));
    color: rgb(252, 238, 238);
    white-space: nowrap;
    padding: 10px;
}

