.commentcontentWrapper{
    grid-area: comment;
    /* border: 5px solid rgb(0, 255, 64); */
    position: relative;
}



.createdCommentContent{
    display: block;
    line-height: 1.2;
    letter-spacing: 1px;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    min-height: 20px;
    margin:  30px auto 30px auto;
    padding: 40px  30px 20px 30px;
    width: calc(90% - 50px);
    /* border: 5px solid rgb(0, 130, 140); */
    /* outline: none; */
    background: rgba(255, 255, 255, 0.6);

    border-bottom-left-radius: 20px;
}


.commentContent{
    line-height: 1.5;
    word-break: break-all;
    hyphens: auto;
    overflow-y: auto;
    /* border: 3px solid yellow; */
}