.commentUserArea{
    grid-area: user;
}
.commentUserArea img{
    display: block;
    margin: 10px auto 0px auto;
    width: 40px;
    border-radius: 15px;
}


.commentUsername{
    text-align:center;
    margin: 5px 10px 0 10px ;
    font-size: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    /* word-wrap: break-word; */
}


/* .commentBox img{
    width: 100%;
} */