.sectionWrapper{

}

.sectionInnerWrapper{
    width: min-content;
}

.sectionHeadArea{
    border: 2px solid blue;
}

.sectionCurrent{

}

.sectionDropDownWrapper{

}
.sectionDropDownWrapper.hide{
    display: none;
}
.sectionDropDownWrapper.show{
    display: flex;
    flex-direction: column;
}

.sectionCreateWrapper{

}

.sectionCreateInput{

}

.sectionCreateIcon{

}


.sectionDropDownFieldWrapper{
    border: 2px solid red;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}