@import './AddComment.css';
@import './DeleteComment.css';
.commentsIcon{
    position: absolute;
    font-size: 30px;
    bottom: 8px;
    left: 6px;
}
.commentsWrapper{
    position: relative;
    overflow-y: auto;
    width: auto;
    height: auto;
    border: 2px solid white;
    background-image: url(../../../../../public/images/dashboard-view-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.addCommentIcon{
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 35px;
}
.commentsInnerWrapper{
    display: flex;
    flex-direction: column;
    margin: 50px;
    min-height: 450px;
    width: auto;
    border: 2px solid green;
}
.commentsWrapper .commentBox{
    display: grid;
    grid-template-columns: 100px auto 40px;
    grid-template-areas: 'user comment delete';
    border: 5px solid red;
    color: white;
    
}
.commentsWrapper .commentBox::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
.commentsWrapper .commentBox::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background: white;
}
.commentsWrapper .commentBox::-webkit-scrollbar-track{
    background: transparent;
}

.commentBox img{
    width: 100%;
}
.commentContent{
    line-height: 1.5;
    word-break: break-all;
    hyphens: auto;
    overflow-y: auto;
    border: 3px solid yellow;
}

.commentsWrapper::-webkit-scrollbar{
    width: 5px;
}
.commentsWrapper::-webkit-scrollbar-thumb{
    background: white;
    border-radius:20px ;
}
.commentsWrapper::-webkit-scrollbar-track{
    /* color: red; */
    background: red;
}



.commentUserArea{
    grid-area: user;
    /* display: inline-block; */
    /* position: absolute; */
    /* left: 5px; */
    /* top: 0; */
    /* width: 40px; */
    /* display: inline-block; */
    /* margin: 5px 0 7px 5px; */
    /* align-self: flex-start; */
    /* z-index: 8; */
    border: 2px solid yellow;
}
.commentUserArea img{
    display: block;
    /* margin: 5px auto 0 5px; */
    margin: 0 auto;

    width: 50px;
    border-radius: 50px;
}
.commentcontentWrapper{
    grid-area: comment;
    /* width: 100%; */
    border: 5px solid rgb(0, 255, 64);
    position: relative;
    /* width: ; */
}
.minimizeButton{
    position: absolute;
    top: 0px;
    right: 5%;
    font-size: 25px;
    background: rgb(58, 58, 58);
    padding: 10px; 
}
.minimazeButtonMiddle{
    position: absolute;
    top: 30%;
    right: 2%;
    background: red;
    padding: 10px; 
}
.risizeBtnTop{
     position: absolute;
    top: 25px;
    right: 2%;
     background: rgb(27, 26, 26);
    padding: 10px; 
}
.risizeBtnBottom{
     position: absolute;
    bottom: 0px;
    right: 2%;
     background: rgb(27, 26, 26);
    padding: 10px; 
}
.createdCommentContent{
    display: block;
    line-height: 1.2;
    letter-spacing: 1px;
    font-size: 20px;
    resize: none;
    overflow: hidden;
    min-height: 20px;
    margin:  30px auto 0 auto;
    padding: 40px  30px 20px 30px;
    width: calc(90% - 50px);
    border: 2px solid blue;
}

.commentUsername{
    text-align: center;
    margin: 5px auto 0 10px ;
    font-size: 2rem;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.commentEmpty{
    color: white;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
}

#addCommentWindow{
    z-index: 5;
}

