@import './Comments/Comments.css';
.listWrapper main .listNoteWrapper {
  margin: 1px 0 50px 0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  width: 85%;
  height: 35px;
  display: flex;
  position: relative;
  border: none;
}

.listNoteTitle {
  font-family: Kanit;
  font-weight: 500;
  letter-spacing: 2px;
  width: 80%;
  border: none;
  border-radius: inherit;
  background: rgb(0, 0, 0, 0.9);
  padding: 2px 0 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: rgba(255, 255, 255);

  transition: font-size, 2s;
}
.listNoteTitle:hover {
  font-size: 27px;
}
.listNoteDelBtn .fa-xmark {
  position: absolute;
  font-size: 17px;
  top: 10px;
  right: 5px;
  /* color: rgba(255, 255, 255, 0.747); */
  color: rgba(0, 0, 0);
  /* color: rgb(255, 0, 0); */
}

.noteDelConfWindow {
  position: absolute;
  background: rgb(0, 0, 0);
  right: 30px;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hideNoteDelW {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.showNoteDelW {
  visibility: visible;
  padding: 1px 15px;
  width: 170px;
  height: 60px;
  transition: width 1s, height 1s, padding 1s, visibility 1s;
}
.btnW {
  font-size: 25px;
  justify-content: space-around;
  margin: 10px;
  display: flex;
}

.delBtn {
  background: rgba(255, 0, 0, 0.61);
  padding: 3px;
  color: white;
}
.cancelBtn {
  background: rgba(9, 255, 0, 0.61);
  padding: 3px;
  color: white;
}

