.dashboardWrapper{
    background-image: url(../../../../public/images/dashboard-view-img.jpg);
    background: rgba(80, 79, 99, 0.479) ;
    /* height: 100vh; */
    min-height: 1000px;
    position: relative;
}
.searchBoxWrapper{
    border: 2px solid red;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.searchBoxWrapper input{
    width: 90%;
    min-height: 35px;
    font-size: 30px;
    padding-left:20px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    color: white;


    transition: width 2s;
}
.searchBoxWrapper input::placeholder{
    color: rgba(255, 255, 255, 0.452) ;
}
/* .searchBoxWrapper input:focus{
    width: 90%;
} */

.searchBoxWrapper .fa-magnifying-glass{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
}


/* ADD NOTE BTN /SHEET */
.noteW{
    border:2px solid rgb(0, 0, 0);
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 900px;
    height: 500px;
    display: flex;
}
#noteC{
    font-size: 25px;
    padding: 35px;
    width: 100%;
    height: auto;
    resize: none;
    outline: none;
}
.fa-xmark{
    position: absolute;
    right: 5px;
    font-size: 30px;
}
.fa-floppy-disk{
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 30px;
}
::selection{
    background: rgb(38, 190, 0);
}
/* ADD NOTE BTN /SHEET */