.dashboardWrapper{
    background-image: url(../../../../public/images/dashboard-view-img.jpg);
    /* height: 100vh; */
    min-height: 1000px;
}
.searchBoxWrapper{
    border: 2px solid red;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.searchBoxWrapper input{
    width: 90%;
    min-height: 35px;
    font-size: 30px;
    padding-left:20px;
    border: 2px solid white;
    outline: none;
    background: transparent;
    color: white;


    transition: width 2s;
}
.searchBoxWrapper input::placeholder{
    color: rgba(255, 255, 255, 0.452) ;
}
/* .searchBoxWrapper input:focus{
    width: 90%;
} */

.searchBoxWrapper .fa-magnifying-glass{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    color: white;
}


/* ADD NOTE BTN /SHEET */
.addNoteLabel{
    background: white;
}

.createNoteWrapper{
    position: relative;
    width: 80%;
    transition: width 5s;
    margin: 0 auto;

}

.createNoteWrapper form{
    position: absolute;
    display: grid;
    grid-template-columns: 1f 1f 1f 1f 1f 1f 1f;
    grid-template-rows: 30px 30px auto 30px;
    grid-template-areas: 
    'lname lname lname lname lname lname lname'
    't t t t t t t'
    'n n n n n n n'
    'n n n n n n n';
    width: 98%;
    margin: 0 auto;
    background: orange;

}

#noteList{
    grid-area: lname;
    font-size: 25px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: rgb(27, 20, 7);
    color: white;
    border-radius: 50px;
}
#noteTitle{
    grid-area: t;
    font-size: 25px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: rgb(51, 45, 35);
    color: white;
    border-radius: 50px;
}
#noteContent{
    grid-area: n;
    width: 97.9%;
    min-height: 500px;
    margin: 0 auto;
    resize: none;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 20px;
    background: rgb(255, 166, 0);
    color: white;
}
#noteContent::-webkit-scrollbar{
    width: 5px;
}
#noteContent::-webkit-scrollbar-thumb{
    background: rgb(41, 39, 39);
}
#noteContent::-webkit-scrollbar-track{
    background: rgb(255, 255, 255);
    border-radius: 50px;
}
#saveBtn{
    font-size: 25px;
    color: white;
    border: none;
    background: rgb(104, 101, 93);
    border-radius: 50px;
}
.noteErrors{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(255, 0, 0, 0.9);
    text-align: center;
    line-height: 1.5;

}
.noteErrors p{
    font-size: 23px;
    color: white;
}
::selection{
    background: rgb(38, 190, 0);
}
/* ADD NOTE BTN /SHEET */