.listsWrapper {
  column-count: 3;
  row-gap: 5;
  border: 2px solid red;
}
.listWrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid green;
  background: lightblue;
}
.listWrapper header {
  border: 3px solid red;
  position: relative;
}
/* .listWrapper main {
  overflow: scroll;
  max-height: 150px;
} */
.listWrapper .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
  border: 2px solid blue;
  background: yellow;
  border: 12px solid rgb(59, 3, 3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.options {
    display: none;
  border: 2px solid rgb(3, 3, 59);
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 25px;
  
}

.listWrapper .title:hover ~ .options{
    display: block;
}
.options:hover{
    display: block;
}
.options .hide {
  border: 2px solid blue;
  display: none;
  background: rgba(128, 128, 128, 0.644);
}
.options .show {
  border: 2px solid blue;
  display: inline;
  background: rgba(128, 128, 128, 0.644);
}
.options .show i{
    margin-right: 20px;
}


.listWrapper main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listWrapper main .listNote {
  background: brown;
  /* width: 450px; */
  height: auto;
  font-size: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.listWrapper footer button {
  background: green;
  display: block;
  margin: 10px auto;
  font-size: 25px;
  padding: 4px 15px;
}
