.listsWrapper {
  column-count: 3;
  width: 90%;
  margin: 0 auto;
  border: 2px solid red;
}
.listWrapper {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 10px;
  /* border: 3px solid green; */
  border-radius: 10px;
  /* background: rgb(189, 208, 212); */
    background-image: url(../../../../public/images/wallpaperflarNeonCircle.jpg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.listWrapper header {
  position: relative;
}
.listWrapper .title {
  font-family: Kanit;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 85%;
  border: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.658);
  font-size: 27px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0 20px 0;
  padding: 0 0 0 15px;
}
.titleInputReady {
  animation: inputReady 3s infinite;
  animation-direction: alternate;
}
@keyframes inputReady {
  0% {
    border: 3px solid rgb(0, 0, 0);
  }
  25% {
    border: 3px solid rgb(0, 158, 61);
  }
  50% {
    border: 3px solid rgb(1, 47, 107);
  }
  100% {
    border: 3px solid rgb(10, 0, 0);
  }
}
.options {
  /* border: 2px solid rgb(3, 3, 59); */
  position: absolute;
  right: 3px;
  top: 17px;
  font-size: 25px;
}

.options .hide {
  /* border: 2px solid blue; */
  display: none;
}
.options .show {
  /* border: 2px solid blue; */
  display: inline;
  background: rgba(12, 12, 12, 0.7);
  border-radius: 20px;
}
.options .show i {
  margin: 0px 10px;
}

.fa-gear, .fa-pen, .fa-trash{
    color: rgba(255, 255, 255, 0.897);
}

.listWrapper main {
  overflow-y: auto;
  min-height: max-content;
  max-height: 250px;
  border-top: 2px solid rgb(156, 156, 156);
  border-bottom: 2px solid rgb(156, 156, 156);
  /* border-top: 3px solid rgba(255, 0, 0, 0.452); */
  /* border-bottom: 3px solid rgba(255, 0, 0, 0.452); */

}
.listWrapper main::-webkit-scrollbar {
  width: 11px;
}
.listWrapper main::-webkit-scrollbar-track {
  background-color: transparent;
}
.listWrapper main::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 200px;
}

.listWrapper footer button {
  display: block;
  font-family: Kanit, 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  margin: 45px 0 5px 0;
  color: black;
  background: rgba(255, 255, 255, 0.664);
  border-radius: 10px;
  width: 87%;
  border: none;
}

.delConfirmWindow {
  visibility: hidden;
  /* border: 3px solid orange; */
  font-size: 20px;

  position: absolute;
  color: white;
  top: 27px;
  right: 20px;
  text-align: center;
  background: black;
  overflow: hidden;
}

.hideDelW {
  visibility: hidden;
  width: 0px;
  height: 0px;
  /* transition: width ease-in-out 1s, height ease-in-out 1s, visibility 1s; */
  z-index: 9;
}
.showDelW {
  visibility: visible;
  width: 200px;
  height: 75px;
  transition: width ease-in-out 0.7s, height ease-in-out 0.7s, visibility 1s;
  z-index: 9;
}
.btnsWrapper {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto 0 auto;
  border: 3px solid black;
  z-index: 5;
}

.delete{
    background: rgba(255, 0, 0, 0.61);
    padding: 3px;
    color: white;
}
.cancel{
    background: rgba(9, 255, 0, 0.61);
    padding: 3px;
    color: white;
}
