.listsWrapper {
  column-count: 3;
  row-gap: 5;
  border: 2px solid red;
}
.listWrapper {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  border: 3px solid green;
  background: lightblue;
}
.listWrapper header {
  border: 3px solid red;
  position: relative;
}
/* .listWrapper main {
  overflow: scroll;
  max-height: 150px;
} */
.listWrapper .title {
  /* display: block; */
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 25px;
  border: 2px solid blue;
  background: yellow;
  border: 12px solid rgb(59, 3, 3);
  /* z-index: 0; */
  /* position: relative; */
}

.options {
  border: 2px solid rgb(3, 3, 59);
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 25px;
  /* position: relative; */
  /* z-index: -0; */
}

.listSettings[type='radio'] {
  /* appearance: none; */
  position: absolute;
  right: 0px;
  top: -2px;
  /* background-color: #fff; */
  display: none;
  border:2px solid red;
  /* border: 2px solid transparent; */
  box-shadow:0 0 0 1px green;
  /* box-shadow: 0 0 0 1px transparent; */
  border-radius: 50%;
  width: 25px;
  height: 23px;
  background-color:white;
  /* background-color: transparent; */
  transition: all ease-in 0.2s;
}

.options .hide {
  border: 2px solid blue;
  display: none;
  background: rgba(128, 128, 128, 0.644);
}
.options .show {
  border: 2px solid blue;
  display: inline;
  background: rgba(128, 128, 128, 0.644);
}
.options .show i{
    margin-right: 20px;
}


.listWrapper main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.listWrapper main .listNote {
  background: brown;
  height: 30px;
  font-size: 30px;
}

.listWrapper footer button {
  background: green;
  display: block;
  margin: 10px auto;
  font-size: 25px;
  padding: 4px 15px;
}
