@import url(./Dashboard/middle.css);


@import url(./Dashboard.css);
@import url(./List.css);
@import url(./Note/Note.css);
@import url(./Spinner/Spinner.css);
@import url(./Home/Home.css);

@import url(./User/Login.css);
@import url(./User/Register/Register.css);
@import url(./User/Profile.css);

@import url(./NotFound.css);

main{
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
}


