@import url(./Home.css);
@import url(./Create.css);
@import url(./MyNotes.css);

@import url(./Login.css);
@import url(./Register.css);
/* @import url(./Login.module.css);
@import url(./Register.module.css); */

@import url(./NotFound.css);

main{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}