@import url(./Nav/Nav.css);

.pageHeader{
    display: flex;
    width: 95vw;
    max-width: 3000px;
    margin: 0 auto;
    /* border: 5px solid black; */
    min-width: max-content;
}
.listHeader{
    display: flex;
    width: 95vw;
    max-width: 3000px;
    margin: 0 auto;
    /* border: 5px solid black; */
}
