@import url(./Buttons.css);
/* .menuWrapper{
} */
.dashboardMenuIcon{
    color: white;
    font-size: 35px;
}
.addListIcon{
    color: white;
    font-size: 30px;
     margin-left: 10px;
}
.menuInnerWrapper{
    /* border: 10px solid black; */
    display: flex;
    /* align-items: center; */
    width: auto;
    position: relative;
}

