@import url("https://use.fontawesome.com/releases/v6.1.1/css/all.css");
@import url(./reset.css);

@import url(./Header/Header.css);
@import url(./Main/Main.css);

body{
    min-width: max-content;
}
.App{
    background:  rgba(42, 42, 54, 0.8);
}

a{
    font-family: 'Courier New', Courier, monospace;
}

input{
    outline: none;
}